@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

html,
body{
  height: 100%;
}

body {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  color: #ffffff;

  font-family: 'Gagalin';
  font-size: 16px;
  font-weight: 400;  

  user-select: none;
}

div,
button,
input{
  text-shadow: 0 0 5px #000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: #ffffff50;
  font-size: 16px;
}

@font-face {
  font-family: "Fibre";
  src: url("./fonts/Fibre/fibre-font.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "Gagalin";
  src: url("./fonts/Gagalin/Gagalin-Regular.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

::-webkit-scrollbar {
  width: 16px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
  display: none;
}

::-webkit-scrollbar-thumb:active {
  background-color: #666; 
  display: none;
}

scrollbar {
  width: 12px;
}

scrollbar-track {
  background-color: #f1f1f1;
}

scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

scrollbar-thumb:hover {
  background-color: #555; 
}


input{
  height: 100%;
  background-color: #ffffff20;
  border-radius: 10px;
  padding: 0 10px;
  text-align: center;
}

.btn{
  padding: 10px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .2s ease;
}

.btn:hover{
  opacity: 0.5;
}

.btn:active{
  transform: scale(.95);
}

.game-board{
  width: 100%;
  height: 100%;

  display: flex;
}

.green{
  background-image: url('../img/green.png');
  background-size: contain;

  height: 100%;
  width: 250px;
  margin: 0 70px;
  position: relative;
}

.logo{
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.edit{
  padding-top: 30px;

  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: end;

  overflow: scroll;
  overflow-x: hidden;
}

.edit-prizes {
  width: 800px;
  gap: 20px 20px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
}

.edit-prizes-item {
  width: 320px;
  height: 120px;
  margin: 0 auto;

  background-image: url('../img/prize.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-prizes-title {
  font-size: 14px;
  color: #fff;
  letter-spacing: .2em;
}

.edit-prizes-item input{
  background-image: url('../img/prizeInput.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;

  height: 60px;
  width: 220px;
  padding-bottom: 4px;
  font-size: 14px;
  letter-spacing: .2em;

  text-shadow: none;
}

.edit-btns{
  width: 800px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 50px;
}

.edit-add{
  background-image: url('../img/add.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 70px;
  height: 70px;
  
}

.edit-remove{
  background-image: url('../img/remove.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 70px;
  height: 70px;
}

.edit-btn{
  font-size: 32px;
  padding: 0;
}

.edit-save{
  background-image: url('../img/save.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 90px;
  height: 100px;
  border-radius: 0;
  padding: 0;
}

.edit-members {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-members-item {
  width: 100%;
  column-gap: 20px;

  display: flex;
  justify-content: space-between;
}

.edit-members-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-members-content h2{
  background-image: url('../img/membersContent.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 170px;
  height: 130px;
  color: #fff;

  font-size: 18px;
  letter-spacing: .1em;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-members-index,
.edit-members-nickname,
.edit-members-tickets,
.edit-members-win{
  background-color: #5e5e5e;
  height: 50px;
  border-radius: 50px;
  width: 170px;

  font-size: 14px;
  letter-spacing: .05em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-members-index {
}

.edit-members-nickname {
}


.edit-members-tickets {
}


.edit-members-win {
  overflow: hidden;

  user-select: text;
}

/* TABLE */

.table {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  overflow: scroll;
  overflow-x: hidden;

  color: #ffffff;
}

.table-btns {
}

.table-update {
  background-image: url('../img/update.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 100px;
  height: 100px;
}

.table-main-ticket {
  background-color: #5e5e5e;
  height: 50px;
  border-radius: 50px;
  width: 120px;

  font-size: 14px;
  letter-spacing: .05em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-main-tickets {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main-ticket-shuffle{
  width: 160px;
  background-color: #3d7e73;
}

.main-ticket-digit {
  background-color: #5e5e5e;
  height: 50px;
  border-radius: 50px;
  width: 50px;

  font-size: 14px;
  letter-spacing: .05em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-members {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-members-item {
  width: 100%;
  gap: 10px;

  display: flex;
  align-items: center;
}

.table-members-tickets{
  gap: 10px;

  display: flex;
  align-items: center;
}

.table-members-ticket {
  background-color: #5e5e5e;
  height: 50px;
  border-radius: 50px;
  width: 120px;

  font-size: 14px;
  letter-spacing: .05em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-members-nickname {
  background-color: #5e5e5e;
  height: 50px;
  border-radius: 50px;
  width: 170px;

  font-size: 14px;
  letter-spacing: .05em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.yellow-digit{
  background-color: #802E2E;
}

.edit-members-index,
.edit-members-tickets,
.edit-members-win,
.table-members-ticket,
.main-ticket-digit,
.table-main-ticket{
  font-size: 24px;
}

.none{
  display: none;
}
